.contst {width: 500px; height: 230px;border: 1px solid var(--northel);display: flex; position: relative; overflow: hidden;}
.imagen-st, .imagen-st1{width: 250px; margin: auto;display:block; position: relative;}
.texto-s2t {float:center;position: absolute;top:50%; left: 50%;color: white; padding:0px; 
            font-size: 9px;font-family: Eagle Lake; 
            text-transform: uppercase; font-weight: bold;  text-align: center;  
            text-shadow: 1px 1px 3px black;transform: translate(-50%, -50%);width: auto; opacity: 0;
            transition: all 0.4s ease;display: inline-block;
            height: auto;white-space: nowrap;transform-original: center center;} 
.contst:hover .imagen-st, .contst:hover .imagen-st1 { filter: brightness(0.45);transition: filter 0.35s ease;} 
.contst:hover .texto-s2t { opacity: 1;transform: translate(-50%, -50%) scale(1.05);} 

@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap");
